body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
} 

main {
    background-color: #fff;
}

.logo {
    max-height: 90px ;
    padding: 1rem;
}


nav ul {
    float: right;
    padding-top: 1rem;
}
li {
    display: inline;
    padding: 10px 20px;
}
li a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}

#index-head {
    background-image: url('../ressurser/background3.jpg');
    background-position: 70%;
    background-size: cover;
    height: 18rem;
    padding: 3rem;
}

#index-head article {
    background-color: #fff;
    max-width: 45%;
    float: right;
    margin: 1rem 3rem 1rem;
    padding: 1rem;
}
#index-head article p {
    padding-bottom: 1rem;
}

#subheading-section {
    text-align: center;
    padding: 3rem;
}
#about-section {
    display: flex;
    justify-content: center;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 1px;
    padding: 3rem;
}
#about-section article {
    padding: 1rem;
    max-width: 500px;
}
#service-section {
    text-align: center;
    display: flex;
    padding: 2rem;
    justify-content: space-evenly;
}
#service-section article {
    max-width: 250px;
}
h2 {
    text-align: center;
    padding-top: 1rem;
}
#abouth2 {
    text-align: left;
}
#newsletter-section {
    text-align: center;
    padding: 2rem;
    background-color: rgb(206, 203, 203);
}
#newsletter-form {
    padding: 11px;
    border: 0px;
    max-width: 200px;
    }



.articlecards {
    max-width: 350px;
    min-width: 200px;
}
.articlecards img {
    max-width: 350px;
    min-width: 200px;
}

footer {
    background-color: #252525;
    color: #fff;
    display: flex;
    justify-content: space-between;
}
footer a {
    text-decoration: none;
    color: #fff;
}
#copyright {
    padding-top: 4rem;
}
#socials {
    padding-top: 4rem;
    padding-right: 3rem;
    font-size: 2rem;
}
#socials a {
    padding: 10px;
}
#map {
    max-width: 100%;
}
.yellowbutton {
    background-color: #e6bd43;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
}
.whitebutton {
    background-color: #fff;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border: 2px black solid;
}

#products-head {
    text-align: center;
    background-image: url('../ressurser/background2.jpg'); /*dette bildet er fra pixabay: https://pixabay.com/photos/workplace-office-desk-keyboard-2303851/*/
    background-size: cover;
    background-position: 70%;
    filter: grayscale(100%); /*Her har jeg lest meg opp på filter, https://www.w3schools.com/cssref/css3_pr_filter.php*/
    height: 22rem;
}
#products-head h1 {
    position: absolute;
    top: 40%;
    left: 50%;
}
h1 {
    font-size: xx-large;
}

#about-head {
    background-image: url('../ressurser/background2.jpg'); /*dette bildet er fra pixabay: https://pixabay.com/photos/workplace-office-desk-keyboard-2303851/*/
    background-size: cover;
    background-position: 70%;
    height: 22rem;
}
#about-head article {
    background-color: #fff;
    max-width: 40%;
    float: right;
    margin: 1rem 3rem 1rem;
    padding: 1rem;
}
#about head p {
    padding: 3rem;
}
#clients-section {
    text-align: center;
    background-color: #e6bd43;
    padding: 2rem;
}
#clients-section img {
    padding: 2rem;
    max-height: 125px;
}
label {
    display: block;
    margin-bottom: 8px;
  }

input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
  }
#contact-section {
    display: inline-block;
}
#contact-section article {
    width: 50%;
    box-sizing: border-box;
    float: left;
    padding: 20px;   
}
.fa-solid {
   margin-right: 15px;
   padding: 1rem;
}

#branding-section {
    display: flex;
    justify-content: space-around; /* Adjust as needed */
    flex-wrap: wrap;
    padding: 1rem; 
}
#branding-section2 {
    display: flex;
    justify-content: space-around; /* Adjust as needed */
    flex-wrap: wrap;
    padding: 1rem; 
}
.portfolioh2 {
    padding-left: 4%;
    width: 80%;
    border-bottom: solid 2px #e6bd43;
    margin: 0 auto; 
    padding-bottom: 2rem;
    }
    
    #prevjobs-section {
        padding: 2rem;
    }


#design-section{
    display: flex;
    justify-content: space-around; /* Adjust as needed */
    flex-wrap: wrap;
    padding: 1rem;
}

#development-section{
    display: flex;
    justify-content: space-around; /* Adjust as needed */
    flex-wrap: wrap;
    padding: 1rem;
}

#prevjobs-section{
    padding-left: 9.5rem ;
}

/*
    Gull-gul kode: #e6bd43;
    Gråsvart: #252525;
    Svart: #000;
    Hvit: #fff;

    */